

<button class="btn slider-button" {{action 'up'}}
  disabled="{{unless from "disabled" ""}}">Up</button>

{{#each images as |image|}}
<div class="row">
  <div class="col-lg-12">
    <img src="{{image}}" class="sent_image" {{action "choosePic" image }} />
  </div>
</div>
{{/each}}


<button class="btn slider-button" {{action 'down'}} id="downBtn">Down</button>
