<div class="img-lister">
  <div class="button">
    <button class="btn slider-button" {{action 'up'}}
      disabled="{{unless isUpEnabled "disabled"}}">Up</button>
  </div>

  {{#each images as |image|}}
  <div class="image">
   <img src="{{thumbnail image}}" {{action "choosePic" image }} />
   <div class="buttonbar"><a href="#" {{action 'choosePic' image }}>Use</a> |
     <a href="#" {{action "deleteImage" image}}>Delete</a>
   </div>
  </div>
  {{/each}}

  <div class="button">
    <button class="btn slider-button" {{action 'down'}}
      disabled="{{unless isDownEnabled "disabled"}}">Down</button>
  </div>
</div>
