<div class="root">
  <div class="postcard">
    <h1>Postcardy</h1>
    <form>
      <div class="row top_row">
        <div class="column">
          <h2>Image</h2>
          {{#if isImageSet}}
            <div class="image">
              <div class="image_container">
                <img id="chosenImage" src={{model.image.url}}>
                <div class="image_dimensions" />
              </div>
              <div>
                <div class="btn" {{action "deleteImage"}}>Delete image</div>
                <div class="btn" {{action "unsetImage"}}>Unset</div>
              </div>
            </div>
          {{else}}
            <div class="uploader">
              {{file-uploader url="/api/v1/images" setImage=(route-action 'notifyUpload')}}
            </div>
          {{/if}}
        </div>

        <div class="column">
          <h2>Info</h2>
          <div>
            {{# if lastOrder.date}}
              Your last order was on
              {{moment-format lastOrder.date 'DD.MM.YYYY HH:mm'}}<br />
              This was {{moment-from-now lastOrder.date}}<br />
              The image was <br /><img src="{{thumbnail lastOrder.image}}" class="last_order">
            {{else}}
              It looks like you have never made an order before
            {{/if}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column recipient">
          <h2>Recipient</h2>
          <div class="row">
            <div class="column">
              <label>Company</label>
              {{input type="text" class="recipient_company" value=model.recipient.company change=(route-action "changeAddress")}}
            </div>
            <div class="column">
              <label>Salutation</label>
              {{input type="text" class="recipient_salutation" value=model.recipient.salutation change=(route-action "changeAddress")}}
            </div>
          </div>

          <div class="row">
            <div class="column">
              <label>Given Name</label>
              {{input type="text" class="recipient_givenName" value=model.recipient.givenName change=(route-action "changeAddress")}}
            </div>
            <div class="column">
              <label>Family Name</label>
              {{input type="text" class="recipient_familyName" value=model.recipient.familyName change=(route-action "changeAddress")}}
            </div>
          </div>

          <div class="row">
            <div class="column">
              <label>Street</label>
              {{input type="text" class="recipient_street" value=model.recipient.street change=(route-action "changeAddress")}}
            </div>
          </div>
          <div class="row">
            <div class="column post_code">
              <label>Post Code</label>
              {{input type="number" min="1000" max="9999" class="recipient_postCode" value=model.recipient.postCode change=(route-action "changeAddress")}}
            </div>

            <div class="column">
              <label>Place</label>
              {{input type="text" class="recipient_place" value=model.recipient.place change=(route-action "changeAddress")}}
            </div>
          </div>
        </div>

        <div class="column">
          <h2>Message</h2>
          {{message-field value=model.message}}
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h2>Action!</h2>
          <div>
            <div type="submit" {{action 'send'}} class="action btn btn-primary {{unless model.isNew 'disabled'}}">
              Send Postcard
            </div>
            <div {{action 'reset'}} class="action btn">Reset</div>
          </div>
          <div>
            {{#if isSending}}<progress />{{/if}}
          </div>
        </div>

      </div>
     <div class="alert alert_{{resultClass}}">
      {{result}}
     </div>

    </form>
  </div> {{!-- postcard end --}}

  <div class="image_list">
    {{image-lister
      images=previousImages
      max=maxImages
      update=(route-action 'updateSlider')
      delete=(route-action 'deleteImage')
      choose=(route-action 'chooseImage')
    }}
  </div>
</div>
