<div class="root">
  <div class="postcard">
    <div class="image_upload" class="item">
      <form>

        <h3>Image</h3>
        <div>
          {{file-uploader url="/api/v1/images" setImage=(action "setImage") uploading=(action "uploading") }}
          <progress style="display: {{uploadProgress}}" />
        </div>

      </form>
    </div>
    <div class="message" class="item">
      <div>
        <h3>Message</h3> {{textarea type="text" value=message class="form-control"}}
      </div>
    </div>

    <div class="recipient" class="item">
      <h3>Recipient</h3>

      <div class="recipient_form">

        <div class="row">
          <div class="element">
            <label>Company</label>
            {{input type="text" value=company}}
          </div>
          <div class="element">
            <label>Salutation</label>
            {{input type="text" value=salutation}}
          </div>
        </div>

        <div class="row">
          <div class="element">
            <label>Given Name</label>
            {{input type="text" value=givenName}}
          </div>
          <div class="element">
            <label>Family Name</label>
            {{input type="text" value=familyName}}
          </div>
        </div>

        <div class="row">
          <div class="element">
            <label>Street</label>
            {{input type="text" value=street}}
          </div>

          <div class="element post_code">
            <label>Post Code</label>
            {{input type="text" value=postCode}}
          </div>

          <div class="element">
            <label>Place</label>
            {{input type="text" value=place}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image_list">
    {{image-lister}}
  </div>
</div>
