<div class="root">
  <div class="postcard">
    <h1>Postcardy</h1>
    <form>
      <div class="row top_row">
        <div class="column">
          <h2>Image</h2>
          <div class="uploader" style="display: {{if isImageSet "none" "block"}}">
            {{file-uploader url="/api/v1/images" setImage=(route-action 'setImage')}}
          </div>

          <div class="image" style="display: {{if isImageSet "block" "none"}}">
            <div class="image_container">
              <img id="chosenImage" src={{thumbnail model.imgURL}}>
              <div class="image_dimensions" />
            </div>
            <div>
              <button class="btn" {{action "deleteImage"}}>Delete image</button>
              <button class="btn" {{action "unsetImage"}}>Unset</button>
            </div>
          </div>
        </div>

        <div class="column">
          <h2>Info</h2>
          <div>
            {{# if lastOrder.date}}
              Your last order was on
              {{moment-format lastOrder.date 'DD.MM.YYYY HH:mm'}}<br />
              This was {{moment-from-now lastOrder.date}}<br />
              The image was <br /><img src="images/{{thumbnail lastOrder.image}}" class="last_order">
            {{else}}
              It looks like you have never made an order before
            {{/if}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column recipient">
          <h2>Recipient</h2>
          <div class="row">
            <div class="column">
              <label>Company</label>
              {{input type="text" value=model.recipient.company}}
            </div>
            <div class="column">
              <label>Salutation</label>
              {{input type="text" value=model.recipient.salutation}}
            </div>
          </div>

          <div class="row">
            <div class="column">
              <label>Given Name</label>
              {{input type="text" value=model.recipient.givenName}}
            </div>
            <div class="column">
              <label>Family Name</label>
              {{input type="text" value=model.recipient.familyName}}
            </div>
          </div>

          <div class="row">
            <div class="column">
              <label>Street</label>
              {{input type="text" value=model.recipient.street}}
            </div>
          </div>
          <div class="row">
            <div class="column post_code">
              <label>Post Code</label>
              {{input type="number" min="1000" max="9999" value=model.recipient.postCode}}
            </div>

            <div class="column">
              <label>Place</label>
              {{input type="text" value=model.recipient.place}}
            </div>
          </div>
        </div>

        <div class="column">
          <h2>Message</h2>
          {{textarea type="text" value=model.message class="form-control"}}
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h2>Action!</h2>
          <div>
            <button {{action 'send'}} class="action">Send Postcard</button>
            <button {{action 'reset'}} class="action">Reset</button>
          </div>
          <div>
            {{#if isSending}}<progress />{{/if}}
          </div>
        </div>

      </div>
     <div class="alert alert_{{resultClass}}">
      {{result}}
     </div>

    </form>

  </div> {{!-- postcard end --}}

  <div class="image_list">
    {{image-lister choose=(route-action 'setImage')}}
  </div>
</div>
