<div class="root">
  <div class="postcard">
    <h1>Postcardy</h1>
    <form>
      <h2>Image</h2>
      <div class="uploader">
        {{file-uploader url="/api/v1/images" setImage=(action "setImage")}}
      </div>

      <div class="{{imgClass}}">
        <div>
          <img id="chosenImage" src={{imgURL}} {{action 'zoomImage'}} >
        </div>
        <div>
          <button class="btn" {{action "deleteImage"}}>Delete image</button>
        </div>
      </div>


      <h2>Message</h2>

      <div class="message">
        <div class="row">
          <div class="element">
            {{textarea type="text" value=message class="form-control"}}
          </div>
          <div class="element">
            <div>
              Your last order was on
              {{moment-format lastOrder 'DD.MM.YYYY HH:mm'}}<br />
              This was {{moment-from-now lastOrder}}
            </div>
            <div>
              <div class="alert alert-{{resultClass}}">
                {{result}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2>Recipient</h2>

      <div class="recipient">
        <div class="row">
          <div class="element">
            <label>Company</label>
            {{input type="text" value=recipient.company}}
          </div>
          <div class="element">
            <label>Salutation</label>
            {{input type="text" value=recipient.salutation}}
          </div>
        </div>

        <div class="row">
          <div class="element">
            <label>Given Name</label>
            {{input type="text" value=recipient.givenName}}
          </div>
          <div class="element">
            <label>Family Name</label>
            {{input type="text" value=recipient.familyName}}
          </div>
        </div>

        <div class="row">
          <div class="element">
            <label>Street</label>
            {{input type="text" value=recipient.street}}
          </div>

          <div class="element post_code">
            <label>Post Code</label>
            {{input type="number" min="1000" max="9999" value=recipient.postCode}}
          </div>

          <div class="element">
            <label>Place</label>
            {{input type="text" value=recipient.place}}
          </div>
        </div>
      </div>

      <h2>Action!</h2>
      <div>
        <button {{action 'send'}} class="btn">Send Postcard</button>
      </div>
    </form>

  </div> {{!-- postcard end --}}

  <div class="image_list">
    {{image-lister choose=(action "setImage")}}
  </div>
</div>
